body{
   
   background-color: #121212;
   color: #d7dbdb;
}
a:link{
   text-decoration: none;
   color: #a86d32;
}
a:visited{
   text-decoration: none;
   color: #a86d32;
}
a:hover{
   text-decoration: none;
   color: #d7dbdb;
}
.chefimg{
   text-align: center;
}
.chefimg1{
   padding-top: 40px;
}
.meet{
   text-align: left;
   font-family: "Arial Black", sans-serif;
   margin-top: 40px;
   font-size: 20px;
}
.aboutgraphy{
   text-align: center;
   font-family: "Playpen Sans", sans-serif;
   font-size: larger;
}
.contact-us{
   padding-top: 40px;
   text-align: left;
   font-family: "Playpen Sans", sans-serif;
   font-size: larger;
}
.contact-purposes{
   text-align: center;
   font-family: sans-serif;
   font-size: large;
   padding-top: 100px;
}
#cake{
   font-family: "Signika", sans-serif;
   font-size: 25px;
   margin-top: 50px;
   letter-spacing: 3px;
   color: #a86d32;
}
#div1{
   width: 20%;
   float: left;
   height: 5000px;
}
#div2{
   width: 40%;
   margin: 0 auto;
   float: left;
   font-family: "PlayPen Sans", sans-serif;
   font-size: larger;
   line-height: 1.8;
}
#div3{
   width: 18%;
   margin: 0 auto;
   float: left;
   font-family: "PlayPen Sans", sans-serif;
   font-size: larger;
   line-height: 1.8;
   margin-left: 50px;
}
#div4{
   width: 22%;
   float: right;
}
#make-recipe{
   font-family: "PlayPen Sans", sans-serif;
   color: #a86d32;
}
#make-chocolate{
   font-family: "PlayPen Sans", sans-serif;
   color: #a86d32;
}
#welcome{
   font-family: "Arial Black", sans-serif;
   color: #a86d32;
   margin-top: 50px;
   letter-spacing: 1.5px;
   font-size: 25px; 
}
#title-graphy{
   font-size: 13px;
   letter-spacing: normal;
   margin-top: 17px;
}
.more{
   border: 1px solid #ffffff;
   background-color: #121212;
   color: #a86d32;
   height: 50px;
   width: 180px;
   margin-top: 20px;
}
#protips{
   font-family: "PlayPen Sans", sans-serif;
   color: #a86d32;
}
#faq{
   font-family: "PlayPen Sans", sans-serif;
   color: #a86d32;
}
.head-div1{
   width: 15.9%;
   float: left;
   height: 77px;
}
.head-div2{
   margin: 0 auto;
   width: 62.1%;
}
.head-div3{
   width: 22%;
   float: right;
}
hr{
   height: 0.1px;
   color:#d7dbdb; 
   margin-top: -15px;
}
button:hover{
   background-color: #d7dbdb;
   color: #a86d32;
   cursor: pointer;
}
#more-text{
   font-size: 16px;
   color: #a86d32;
   text-align: center;
}
button{
   border-radius: 13px;
}
.up{
   margin-top: -15px;
}
#about{
   font-family: sans-serif;
   font-size: 14px;
   padding-right: 25px;
}
#contact{
   font-family: sans-serif;
   font-size: 14px;
   padding-right: 15px;
}
.about-contact{
   text-align: right;
   padding-right: 20%;
   margin-bottom: -50px;
   margin-top: 1.5%;
}
.about-contact-div1{
   width: 25%;
   float: left;
}
.about-contact-div2{
   width: 50%;
   margin: 0 auto;
}
.about-contact-div3{
   width: 25%;
   float: right;
}
.follow-us-on{
   padding-top: 250px;
   font-size: larger;
}
.follow-us{
   letter-spacing: 2.5px;
   font-family: "Inter", sans-serif;
}
.social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(225, 225, 225, 0.2);
   margin: 0, 10px, 10px, 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   transition: all 0.5s ease;
}
.social-links a:hover{
   background-color: #24262b;
   color: #ffffff;
}
.social-links{
   margin-top: 20px;
}
.ingredients-table{
   border: 1px solid black;
   padding: 15px;
   margin-top: 40px;
}
.ingredients-all{
   background-color: #24262b;
   height: 550px;
   width: 100%;
}
.ingredients1{
   padding-top: 40px;
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 20px;
}
#ing-title{
   color: #a86d32;
   font-family: "Signika", sans-serif;
   font-size: 40px;
   font-weight: bolder;
}
.ingredients2{
   width: 70%;
   float: left;
}
.img-preview{
   width: 30%;
   float: right;
}
#last-img{
   border: 1px solid black;
   border-width: 7px;
   border-color: #d7dbdb;
   float: right;
}
.ing-titles{
   font-weight: bolder;
   color: #a86d32;
   font-size: larger;
   font-family: "Playpen Sans", sans-serif;
}
.sans{
   font-family: sans-serif;
   margin-top: 40px;
}
.move-right{
   padding-top: 40px;
   padding-right: 30px;
   padding-left: 40px;
   padding-bottom: 20px;
}
.list-whites{
   font-weight: bold;
   color: white;
}
#nutrition{
   margin-top: 30px;
}
.preparation{
   font-family: sans-serif;
   margin-top: 50px;
}
.preparation-color{
   color: #a86d32;
}
.footer{
   background-color: #24262b;
   margin-top: 15900px;
   height: 300px;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 25px;
   padding-bottom: 100px;
}
.foot-head{
   font-family: "Poppins", sans-serif;
   letter-spacing: 1.5px;
   font-weight: bold;
   font-size: 35px;
   color: #d7dbdb;
}
.foot-div1{
   width: 33.3%;
   float: left;
}
.foot-div2{
   width: 33.4%;
   margin: 0 auto;
}
.foot-div3{
   width: 33.3%;
   float: right;
   margin-top: -350px;
}
.Privacy{
   background-color: #121212;
   color: #d7dbdb;
}
.foot-div1 img {
   margin-top: 30px;
}
#foothead-follow{
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-weight: bold;
   letter-spacing: 1.5px;
   font-size: 35px;
   color: #d7dbdb;
}
.div1-center{
   text-align: center;
}
.foot-div3 .social-links {
   margin-top: 120px;
   text-align: center;
   font-size: 50px;
}
.foot-div3 .social-links a{
   background-color: #262525;
   margin-right: 20px;
   transition: all 0.5s ease;
}
.footer .foot-div2 ul li{
   list-style: none;
   font-size: 23px;
   margin-left: 20px;
   font-family: "Poppins", sans-serif;
   margin-top: 35px;
}
.footer .foot-div2 ul li a {
   text-decoration: none;
   color: white;
   display: block;
   transition: all 0.3s ease;
}
.foot-div2 ul li:not(:last-child) {
   margin-bottom: 10px;
}
.footer .foot-div2 ul li a:hover {
   color: #ffffff;
	padding-left: 15px;
}
.last{
   font-family: default;
   padding: 20px 0;
   font-size: larger;
}
.privacy-div1{
   width: 25%;
   float: left;
}
.privacy-div2{
   width: 50%;
   margin: 0 auto;
}
.privacy-div3{
   width: 25%;
   float: right;
}
.margin-bottom{
   margin-bottom: -15800px;
}
.follow-large {
   font-size: x-large;
}
@media screen and (max-width:900px) and (min-width:600px) {
   #div1{
      width: 10%;
      float: left;
      height: 5000px;
   }
   #div2{
      width: 50%;
      margin: 0 auto;
      float: left;
      font-size: small;
      line-height: 1.8;
   }
   #div3{
      width: 30%;
      margin: 0 auto;
      float: left;
      font-size: small;
      line-height: 1.8;
      margin-left: 50px;
   }
   #div4{
      width: 10%;
      float: right;
   }
   #welcome{
      font-family: "Poppins", sans-serif;
      color: #a86d32;
      margin-top: 50px;
      letter-spacing: 1.5px;
      font-size: 20px; 
      font-weight: bolder;
   }
   .head-div1{
      width: 3%;
      height: 77px;
   }
   .head-div2{
      width: 82%;
   }
   .head-div3{
      width: 15%;
   }
   .about-contact{
      text-align: right;
      padding-right: 7%;
      margin-bottom: -50px;
      margin-top: 30px;
   }
}
@media screen and (max-width: 600px) {
   .head-div1{
      width: 0%;
      height: 20px;
   }
   .head-div2{
      width: 100%;
   }
   .head-div3{
      width: 0%;
   }
   .about-contact{
      text-align: right;
      margin-right: -30%;
      margin-bottom: -50px;
      margin-top: 30px;
   }
   #div1{
      width: 0%;
      float: none;
   }
   #div2{
      width: 100%;
      float: none;
      font-size: small;
      line-height: 1.8;
      margin-top: -5025px;
      margin-right: 25px;
      margin-left: 25px;
   }
   #div3{
      width: 100%;
      float: none;
      font-size: small;
      line-height: 1.8;
      text-align: center;
      margin: 30px;
   }
   #div4{
      width: 0%;
      float: none;
   }
   .footer{
      margin-top: 100px;
      background-color: #24262b;
      height: 1050px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      margin: 30px;
   }
   #ing-title{
      font-size: 25px;
   }
   .ingredients2{
      width: 75%;
      float: left;
   }
   .img-preview{
      width: 25%;
      float: right;
   }
   .ingredients-all{
      background-color: #24262b;
      height: 410px;
      width: 100%;
   }
   #textt{
      font-size: smaller;
      text-align: left;
   }
   .preparation{
      margin-top: 25px;
   }
   .follow-us-on{
      padding-top: 100px;
      font-size: larger;
   }
   .foot-div1{
      width: 100%;
      float: none;
   }
   .foot-div2{
      width: 100%;
      margin-top: 50px;
   }
   .foot-div3{
      width: 100%;
      float: none;
      margin-top: 90px;
   }
   .last{
      text-align: center;
      margin-left: 50px;
   }
   .footer .social-links{
      margin-top: 50px;
   }
}